{
	"useTabs": true,
	"tabWidth": 4,
	"arrowParens": "always",
	"bracketSameLine": true,
	"bracketSpacing": true,
	"semi": true,
	"endOfLine": "lf",
	"jsxSingleQuote": false,
	"embeddedLanguageFormatting": "auto"
}
