header.header {
    @apply bg-grey !m-0 mt-0 px-2 flex justify-between;

    nav.nabar {
        @apply flex justify-between;

        ul.nav {
            list-style: none;

            li.navItem {
                @apply inline-block ml-4;

                a {
                    @apply text-muted relative;

                    // hover
                    @apply hover:text-black;

                    // after
                    &:after {
                        @apply absolute w-full h-0.5 bottom-0 left-0 bg-black ;
                        content: '';
                        transform: scaleX(0);
                        transform-origin: bottom right;
                        transition: transform 0.50s ease-out;

                        &:hover {
                            transform: scaleX(1);
                            transform-origin: bottom left;
                        }
                    }
                }
            }
        }
    }
}