@tailwind components;
@tailwind utilities;

main.main {
	h1.title {
		@apply text-center;
	}

	section.mainContent {
		@apply flex justify-around;

		div.card {
			@apply shadow-sm shadow-black p-8;
			background-color: #4d4d4d;
			border-radius: 25px;

			img.cardImage {
				border-radius: inherit;
			}

			&>div {
				@apply grid-cols-1;

				h4.cardTitle {
					@apply text-center;
				}

				p.cardDiscription {}

				button.cardButton {
					@apply outline-none border-none round-xl p-4 bg-primary items-center;
				}
			}
		}
	}
}