main.main {
	h1.title {

	}
	section.mainContent {
		display: flex;
		justify-content: space-around;

		div.card {
			background-color: #4d4d4d;
			border-radius: 25px;
			box-shadow: #000 ;
			padding: 30px;
			
			img.cardImage {
				border-radius: inherit;
			}
			& > div {

				h4.cardTitle {
	
				}
				p.cardDiscription {
					
				}
				button.cardButton {
					outline: none;
					border: none;
					border-radius: 15px;
					padding: 10%;
					background-color: #00f;
				}
			}
		}
	}
}